SHAREUTIL/Inventec.Common.SignLibrary/Service References/ServiceSign/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/EMR.WCF.DCO" />
  <xs:element name="SignExecute">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignExecuteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EMR.WCF.DCO" minOccurs="0" name="SignExecuteResult" nillable="true" type="q1:WcfSignResultDCO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSerialNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSerialNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EMR.WCF.DCO" minOccurs="0" name="GetSerialNumberResult" nillable="true" type="q2:WcfSignResultDCO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StringBase64SignXml">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlData" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="elementName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serialNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StringBase64SignXmlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StringBase64SignXmlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignXml130">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignXml130Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EMR.WCF.DCO" minOccurs="0" name="SignXml130Result" nillable="true" type="q3:WcfSignResultDCO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>